* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

header {
  background-color: #ebf0ff;
  color: #ffffff;
  padding-top: 10px;
  padding: 10px 0 4px;
  border-bottom: 4px solid #e8b400;
  position: fixed;
  width: 100%;
  z-index: 100;
}

main {
  margin: 0px 10px;
  padding-top: 100px;
}

footer {
  color: #000000;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 10px 10px 0px 10px;
  text-align: center;
  position: relative;
}

footer ul {
  list-style-type: none;
  padding: 10px;
}

footer ul > li {
  display: inline-block;
  margin: 0px 5px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 9px;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  top: 0px;
}

nav > ul > li > a:visited {
  color: #0502aa;
  bottom: 0px;
}

nav > ul > li > a:hover {
  color: #fda9f9;
  opacity: 1;
}

nav > ul > li > a:active {
  color: #ffe997;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* CSS Animation */
svg.berlin-illustration {
  width: 100%;
  max-width: 100%;
}

/* sun animation property */
.sun {
  animation: 4s color-change infinite alternate linear;
}

/* cloud animation cloud-move l-r */
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

/* cloud animation cloud move reverse */
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* sun color changes */
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

/* cloud from left to right */
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

/* cloud at the back */
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

img.me {
  border-radius: 20px;
  padding: 5px;
  position: relative;
  width: 150px;
  /* margin-top: 100px; */
}

/* BrainFlash img */
img {
  width: 100%;
  max-width: 1000px;
}

img.userflow {
  width: 100%;
  max-width: 600px;
}

img.crazy8 {
  width: 100%;
  max-width: 600px;
}

img.ut {
  width: 100%;
  max-width: 900px;
}
/* End of Brainflash img */

/* SJ img */

img.swot {
  width: 100%;
  max-width: 700px;
}

a {
  color: #0000ff;
  text-decoration: none; /* No underlining */
}

a:visited {
  /* visited link */
  color: #8000ff;
}

a:hover,
a:focus {
  color: #0000ff;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #fae4e4;
}

.center {
  text-align: center;
}

.logo {
  max-width: 90px;
  border-radius: 5%;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1,
#work h2,
.work-title h1,
.work-title h3 {
  text-align: center; /* Centers text */
}

#hero span {
  display: block;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#topButton {
  height: 50px;
  width: 50px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(116, 116, 116); /* Set a background color */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.category {
  font-weight: bold;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #202020;
  color: #ffdf6c; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 40px;
  transition: 0.8s opacity;
}

.button:visited {
  color: #ffdf6c;
  background-color: #a0a0a0;
}

.button:hover {
  opacity: 0.7; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: white;
  border: 2px;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #1d2aa3;
}

.button.contact:hover {
  background-color: #1d2aa3;
  color: yellow;
}

.button.resume {
  background-color: transparent;
  color: #104df6;
  text-transform: uppercase;
  border-bottom: 5px #f61010;
}

.button.resume:hover {
  background-color: #2d37c2;
  color: #ffffff;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 9px;
  font-size: 30px;
  padding-right: 0;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

@media only screen and (min-width: 641px) {
  body {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
  }

  header {
    padding: 20px 0 13px;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .cssheader {
    display: flex;
    margin-top: 40%;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 50px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-5 {
    width: 35%;
  }

  .col-lg-7 {
    width: 58%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }
}
