body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

header {
  background-color: #ffffff;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 1000px;
}

img.logo {
  width: 100px;
}

a {
  color: #0000ff;
  text-decoration: none; /* No underlining */
}

a:visited {
  /* visited link */
  color: #8000ff;
}

a:hover,
a:focus {
  color: #0000ff;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ff0000;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1d2aa3;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ffffff; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #ecec00; /* needed to override the default link color */
}

.button:hover {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: yellow;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.resume {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.resume:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
