* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

header {
  background-color: #ff8000;
  color: #000000;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 10px 10px 0px 10px;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
  position: relative;
}

main {
  margin: 0px 10px;
}

footer {
  color: #000000;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 10px 10px 0px 10px;
  text-align: center;
  position: relative;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul > li {
  display: inline-block;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 9px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  color: #8000ff;
}

nav > ul > li > a:hover {
  color: #0000ff;
}

nav > ul > li > a:active {
  color: #ff0000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 1000px;
}

img.userflow {
  width: 100%;
  max-width: 600px;
}

img.crazy8 {
  width: 100%;
  max-width: 600px;
}

img.ut {
  width: 100%;
  max-width: 900px;
}

a {
  color: #0000ff;
  text-decoration: none; /* No underlining */
}

a:visited {
  /* visited link */
  color: #8000ff;
}

a:hover,
a:focus {
  color: #0000ff;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #fae4e4;
}

.center {
  text-align: center;
}

.logo {
  max-width: 100px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1,
#work h2,
.work-title h1,
.work-title h3 {
  text-align: center; /* Centers text */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.category {
  font-weight: bold;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1d2aa3;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ffffff; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #ecec00; /* needed to override the default link color */
}

.button:hover {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: yellow;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #1d2aa3;
}

.button.contact:hover {
  background-color: #1d2aa3;
  color: yellow;
}

.button.resume {
  background-color: transparent;
  color: #104df6;
  text-transform: uppercase;
  border: 2px solid1d2aa3;
}

.button.resume:hover {
  background-color: #2d37c2;
  color: #ffffff;
}
